{% extends base_template %}
{% load i18n %}

{% block content %}

<h1>{% trans "Login" %}</h1>

{% if not request.impersonator %}
{% if not providers_active and not providers_inactive %}
  <p class="lead">
  {% blocktrans %}
    There does not seem to be a way to log into this site at the moment
  {% endblocktrans %}
  </p>
{% else %}
  {% if providers_active %}
    <p class="lead">
    {% blocktrans %}
      You are already logged in as:
    {% endblocktrans %}
    </p>
    <ul class="list-unstyled ml-4">
    {% for provider in providers_active %}
    {% with provider.get_active_identity as identity %}
    <li class="row">
      <div class="btn btn-info btn-lg disabled col-sm-6">
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {% if identity.profile %}
        <a href="{{identity.profile}}">{{provider.label}}</a>
        {% else %}
        {{provider.label}}
        {% endif %}
        {% if identity.username %}
        ({{identity.username}})
        {% endif %}
      </div>
      <div class="btn btn-light btn-lg disabled col-sm-5">
        {% with identity.person as bound_to %}
        {% if bound_to %}
        {% blocktrans with bound_to=bound_to %}(linked to account {{bound_to}}){% endblocktrans %}
        {% else %}
        {% trans "(not linked to any account)" %}
        {% endif %}
        {% endwith %}
      </div>
      <div class="dropdown col-sm-1">
        {% with provider.get_actions as actions %}
        {% if actions %}
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_menu_{{provider.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans 'Edit' %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_menu_{{provider.name}}">
          {% for action in actions %}
          {% if action.method == "post" %}
            <form class="form-inline" method="POST" action="{{action.url}}">{% csrf_token %}
              <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
              <button class="dropdown-item btn btn-link" type="submit"><span class="fa fa-{{action.icon}}"></span> {{action.label}}</button>
            </form>
          {% else %}
            <a class="dropdown-item" href="{{action.url}}"><span class="fa fa-{{action.icon}}"></span> {{action.label}}</a>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </li>
    {% endwith %}
    {% endfor %}
    </ul>

    {% if not request.user.is_authenticated %}
    <p class="lead">
      If you are logged in but your identity is not linked to your account,
      try logging in with other methods <i>at the same time</i>, and they will
      get linked together.
    </p>
    {% endif %}
  {% endif %}

  {% if providers_inactive %}
    <p class="lead">{% trans "You can log in using:" %}</p>
    <ul class="list-unstyled ml-4">
    {% for provider in providers_inactive %}
      <li class="row">
        <a class="btn btn-primary btn-lg col-md-6" href="{{provider.get_authorization_url}}" role="button">
        {% if provider.icon %}
        <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
        {% else %}
        <span class="mr-2 fa fa-sign-in"></span>
        {% endif %}
        {{provider.label}}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
{% else %}
<p class="lead">{% trans "Current login information not displayed while impersonating." %}</p>
{% endif %}

{% if identities %}
<h2>{% trans "Identity audit logs" %}</h2>
{% include "signon/audit_identities.html" with identities=identities STATIC_URL=STATIC_URL only %}
{% endif %}

{% endblock %}
