{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Associate identifiers for <a href="{{target.get_absolute_url}}">{{target}}</a></h1>

<p class="lead">
{% blocktrans with type=ident.type name=ident.name target=target %}
Associate {{type}} {{name}} to user {{target}}?
{% endblocktrans %}
</p>

<form action="{{request.build_absolute_uri}}" method="POST">{% csrf_token %}
  <input type="hidden" name="token" value="{{token}}"></input>
  <button type="submit" class="btn btn-lg btn-primary"><span class="fa fa-link"></span> {% trans "Associate" %}</button>
  <a class="btn btn-lg btn-secondary" href="{% url 'contributors' %}"><span class="fa fa-times"></span> {% trans "Cancel" %}</a>
</form>

</div>

{% endblock %}
