{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<h1>Delete contributions for contribution type {{object}}?</h1>

<form action="." method="POST">{% csrf_token %}
  <button class="btn btn-warning" type="submit">{% trans "Delete" %}</button>
</form>

<a class="btn btn-primary" href="{% url 'sources:update' sname=object.source.name %}">{% trans "Do not delete" %}</a>

{% endblock %}
