{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<h1>Delete contributions for source {{source}}?</h1>

<form action="." method="POST">{% csrf_token %}
  <button class="btn btn-warning" type="submit">{% trans "Delete" %}</button>
</form>

<a class="btn btn-primary" href="{% url 'sources:list' %}">{% trans "Do not delete" %}</a>

{% endblock %}
