{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">

<div class="row">
  <div class="col-md">
    <h1>Teams list</h1>
  </div>
  <div class="col-md">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contributors' %}"><span class="fa fa-users"></span> contributors</a>
      </li>
    </ul>
  </div>
</div>

<p class="lead">
This is a list of all the {{teams.count}} teams that contribute to Debian,
  <a href="{% url 'sources:list' %}">to the best of our current knowledge</a>.
</p>

<table id="teams" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Team</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for t in teams %}
    <tr>
        <td><a href={% url 'sources:view' sname=t.source.name %}>{{t.source}}</a></td>
        <td data-sort="{{t.until|date:"Y-m"}}">{{t.until|date:"F Y"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>

{% endblock %}
